body {
  background-image: url("./Assets/pexels-nicole-avagliano-2749481.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

#searchForm {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#inputNow {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

#cityName {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

#tempValue {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.weather-forecast {
  display: flex;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.forecast-container > div {
  flex-basis: calc(40% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  transition: transform 0.3s ease;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.forecast-container > div:nth-child(4),
.forecast-container > div:nth-child(5) {
  flex-basis: calc(40% - 20px);
}

.forecast-container img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
